In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori,association_rules

In [2]:
book_data=pd.read_csv("book (1).csv")
book_data

,ChildBks,YouthBks,CookBks,DoItYBks,RefBks,ArtBks,GeogBks,ItalCook,ItalAtlas,ItalArt,Florence
0,0,1,0,1,0,0,1,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0
3,1,1,1,0,1,0,1,0,0,0,0
4,0,0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1995,0,0,1,0,0,1,1,1,0,1,1
1996,0,0,0,0,0,0,0,0,0,0,0
1997,0,0,0,0,0,0,0,0,0,0,0
1998,0,0,1,0,0,0,0,0,0,0,0
1999,0,0,0,0,0,0,0,0,0,0,0

In [3]:
freq_itemsets = apriori(df =book_data,min_support=0.02,use_colnames=True) #apriori(df,min_support=0.5,)
freq_itemsets

     support                                           itemsets
0     0.4230                                         (ChildBks)
1     0.2475                                         (YouthBks)
2     0.4310                                          (CookBks)
3     0.2820                                         (DoItYBks)
4     0.2145                                           (RefBks)
..       ...                                                ...
271   0.0210  (RefBks, ArtBks, CookBks, YouthBks, DoItYBks, ...
272   0.0270  (RefBks, CookBks, YouthBks, DoItYBks, GeogBks,...
273   0.0310  (ArtBks, CookBks, YouthBks, DoItYBks, GeogBks,...
274   0.0225  (RefBks, ArtBks, CookBks, YouthBks, GeogBks, C...
275   0.0240  (RefBks, ArtBks, CookBks, DoItYBks, GeogBks, C...

[276 rows x 2 columns]

In [4]:
best_assosiates = association_rules(df = freq_itemsets,metric='confidence',min_threshold=0.70,)
best_assosiates

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(RefBks),(ChildBks),0.2145,0.423,0.1515,0.706294,1.669725,0.060767,1.964548
1,(GeogBks),(ChildBks),0.2760,0.423,0.1950,0.706522,1.670264,0.078252,1.966074
2,(ItalCook),(ChildBks),0.1135,0.423,0.0850,0.748899,1.770446,0.036990,2.297877
3,(ItalAtlas),(ChildBks),0.0370,0.423,0.0285,0.770270,1.820970,0.012849,2.511647
4,(ItalArt),(ChildBks),0.0485,0.423,0.0360,0.742268,1.754771,0.015484,2.238760
...,...,...,...,...,...,...,...,...,...
386,"(RefBks, ArtBks, YouthBks, GeogBks, ChildBks)",(CookBks),0.0270,0.431,0.0225,0.833333,1.933488,0.010863,3.414000
387,"(RefBks, ArtBks, GeogBks, YouthBks)","(CookBks, ChildBks)",0.0305,0.256,0.0225,0.737705,2.881660,0.014692,2.836500
388,"(RefBks, ArtBks, CookBks, DoItYBks, GeogBks)",(ChildBks),0.0275,0.423,0.0240,0.872727,2.063185,0.012368,4.533571
389,"(RefBks, ArtBks, DoItYBks, GeogBks, ChildBks)",(CookBks),0.0275,0.431,0.0240,0.872727,2.024889,0.012148,4.470714
390,"(DoItYBks, RefBks, ArtBks, GeogBks)","(CookBks, ChildBks)",0.0320,0.256,0.0240,0.750000,2.929688,0.015808,2.976000